// sidebar
$menuText:#58677f;
$menuActiveText:#2563eb;
$subMenuActiveText:#2563eb; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#f1f5f9;

$subMenuBg:#f8fafc;
$subMenuHover:#eef4ff;

$sideBarWidth: 218px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
