// sidebar
$menuText:#58677f;
$menuActiveText:#0f766e;
$subMenuActiveText:#0f766e; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgba(255, 255, 255, 0.92);
$menuHover:#f1f5f9;

$subMenuBg:#f8fafc;
$subMenuHover:#ecfdf5;

$sideBarWidth: 218px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
